<div class="row">
    <div class="page-header"><h1>Details for: #{{ref}}</h1></div>

    <div class="panel panel-info">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
           <p> <span class="label label-default">Name</span>  {{person.name}}</p>
           <p> <span class="label label-default">Surname</span>  {{person.surname}}</p>
           <p> <span class="label label-default">Age</span>  {{person.age}}</p>
        </div>
    </div>
    
    <p><a class="btn btn-default" href="#/person/list" role="button">Persons List &raquo;</a></p>

</div>